{% extends 'admin/master.html' %}

{% block body %}
  <h1>Welcome to the Admin console!</h1>
    <h3>As an Admin on the site you have full control over all the databases. You can: </h3>
    <p>
    <li> <b>CREATE</b> new database records on any table</li>
    <li> <b>READ</b> all records from all databases</li>
    <li> <b>UPDATE</b> any database record</li>
    <li> <span style="color: red"><b>DELETE</b> any database record (Be careful with this one!) </span> </li>
    </p>

    <h3>To Get Started simply click on any of the tabs above</h3>
{% endblock %}