{% extends 'layout.html' %}
{% block body %}

                <!-- Admin tab for those who are admins -->
                <div class="tab-pane" id="admintab">

                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Admin Console</h2>
                            <p class="card-text">You are an admin. You have the ability to:
                            <li>Promote recipes on the front page</li>
                            <li>Create new Recipes</li>
                            <li>Read all recipes on the site</li>
                            <li>Update Existing recipes</li>
                            <li>Delete any recipe</li>
                            </p>
                        </div>
                        <div class="container" style="padding-top: 50px">
                            <div class="row">
                                <div class="card border-primary mb-3 col-xs-6" style="max-width: 18rem">
                                    <div class="card-header">Header</div>
                                    <div class="card-body text-primary">
                                        <h5 class="card-title">Primary card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up
                                            the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <div class="card border-primary mb-3 col-xs-6" style="max-width: 18rem">
                                    <div class="card-header">Header</div>
                                    <div class="card-body text-primary">
                                        <h5 class="card-title">Primary card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up
                                            the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>


{% endblock %}