{% extends "layout.html" %}

{% block body %}

<script src="https://unpkg.com/@fullcalendar/core@4.0.1/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/moment@4.0.1/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/timegrid/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid','timeGrid' ],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            defaultDate: '2019-04-1',
            editable: true,
            eventLimit: true,
            nowIndicator: true,
            eventColor: '#9821A5',
            eventTextColor: '#F9F9F9',
            events: {
                url: 'calendar/data'
            },
            eventClick: function(info) {
                $('#eventTitle').html(info.event.title);
                $('#eventDescription').html(info.event.extendedProps.description);
                $('#eventStartTime').html(info.event.start);
                $('#eventAssoc').html(info.event.extendedProps.assoc);
                $('#eventModal').modal();
            }
        });
    
        calendar.render();
    });
</script>

<div class="container-fluid mt-3">
    <h3>{{ username }}'s Calendar</h3>
    <div id='calendar'></div>

    <div class="modal fade" id="eventModal">
        <div class="modal-dialog">
            <div class='modal-content'>
                <div class="modal-header">
                    <h4 class="modal-title" id="eventTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                </div>
                <div class="modal-body" id="eventDescription"></div>
                <div class="modal-footer">
                    <form action="{{ url_for('calendar.remove_data') }}" method="post">
                        <input type='hidden' id='eventAssoc' name='assoc_id'>
                        <button type="submit" class="btn btn-outline-primary">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}