{% import 'bootstrap/wtf.html' as wtf %}

<div id="filter">
    {{ wtf.form_field(search_filter.price_min) }}
    {{ wtf.form_field(search_filter.price_max) }}
    {{ wtf.form_field(search_filter.meal_type) }}
    {{ wtf.form_field(search_filter.meal_style) }}
    {{ wtf.form_field(search_filter.dietary_preferences) }}
    {{ wtf.form_field(search_filter.cooking_time_min) }}
    {{ wtf.form_field(search_filter.cooking_time_max) }}
    {{ wtf.form_field(search_filter.calorie_min) }}
    {{ wtf.form_field(search_filter.calorie_max) }}
</div>