{% extends 'layout.html' %}
{% block body %}

    <div class="container">
        <table>
            <tr>
                <th>Recipe</th>
                <th>Likes</th>
                <th>Author</th>
            </tr>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.recipe_title }}</td>
                <td>{{ recipe.user_liked|length }}</td>
                <td>{{ recipe.recipe_description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}