{% extends layout.html %}
{% block body %}

    <div>
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="placeholder">
  <figcaption class="figure-caption">A caption </figcaption>
</figure>



    </div>

    <div>
<ul class="list-group list-group-flush">
    <u>List of Ingredients</u>
  <li class="list-group-item">Ingredient 1</li>
  <li class="list-group-item">Ingredient 2</li>
  <li class="list-group-item">Ingredient 3</li>
  <li class="list-group-item">Ingredient 4</li>
  <li class="list-group-item">Ingredient 5</li>
</ul>
    </div>


{% endblock %}