{% extends 'layout.html' %}
{% block body %}

    <div style="vertical-align: center; line-height: 100px; text-align: center">
        <h1 class="display-4" style="border-bottom:3px solid black ;font-family: 'Segoe UI">
            <b><em>{{ recipe.recipe_title }}</em></b></h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-8 card border-0 bg-transparent" style="height: 450px">
                <img style='max-height: 100%; max-width: 100%; object-fit: contain' src="{{ recipe.recipe_picture }}"
                     alt="Recipe Image">
                <div class="card-footer" style="height: auto;">(Like/follow/rating buttons and stuff can go here. If you
                    have another location
                    in mind feel free to place it there)
                </div>
            </div>
            <div class="col-sm-4 card border-0 bg-transparent">
                <br>
                <div class="card border-primary mb-3" style="height: 113px;max-width: 18rem">
                    <div class="card-header" style="text-align: center">Submitted By</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title font-weight-bold" style="text-align: center"><img
                                class="rounded-circle img-fluid"
                                style='max-height: 11%; max-width: 11%; object-fit: contain'
                                src="{{ user.avatar }}"
                                alt="Recipe Image"> {{ recipe.recipe_author.username }}</h5>
                    </div>

                    <div class="card border-primary mb-3" style="height: 113px;max-width: 18rem">
                        <div class="card-header" style="text-align: center">Cooking Time</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title font-weight-bold"
                                style="text-align: center">{{ recipe.recipe_cooking_time }} Minutes</h5>
                        </div>

                        <div class="card border-primary mb-3" style="height: 113px;max-width: 18rem ">
                            <div class="card-header" style="text-align: center">Calories</div>
                            <div class="card-body text-primary">
                                <h5 class="card-title font-weight-bold"
                                    style="text-align: center">{{ recipe.recipe_calorie_count }} Calories</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- having some trouble with the spacing between containers here, too close on some pages
            but good on others, not sure how to make it consistent -->
            <h2 class="display-5 card border-0 bg-transparent" style="padding-top:150px"><b>Description</b></h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 card" style="height: auto">
                        <br>
                        <p style="font-size: larger">{{ recipe.recipe_description }}
                        </p>

                        <br>
                        <br>

                    </div>

                    <div class="col-sm-4 card border-0 bg-transparent">
                        <br>
                        <div class="card border-primary mb-3" style="height: auto;max-width: 18rem">
                            <div class="card-header" style="text-align: center">Ingredients</div>
                            <div class="card-body text-primary">
                                <ul class="list-group list-group-flush">
                                    <b style="text-align: center">
                                        <!-- There should be a loop here, but I'm not sure how to implement that logic -->
                                        <li class="list-group-item">{{ ingredient.ingredient_name }}</li>
                                    </b>
                                </ul>
                            </div>


                        </div>
                        <div class="card border-primary mb-3" style="height: auto;max-width: 18rem">
                            <div class="card-header" style="text-align: center">Shopping List</div>
                            <div class="card-body text-primary">
                                <h5 class="card-title ">Generate a shopping list with all your required ingredients</h5>
                                <button type="button" class="btn btn-primary btn-lg btn-block" disabled>Create Shopping
                                    List
                                </button>
                                <small>Temp location feel free to change/edit if you're implementing this feature
                                </small>
                            </div>
                        </div>
                    </div>


                    <h2 class="display-5 card border-0 bg-transparent" style="padding-top:150px"><b>Comments</b></h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 card" style="height: auto">
                                <br>
                                <div class="form-group">
                                    <label for="comment">(Not functioning/Temp location feel free to change/edit if
                                        you're implementing this feature)</label>
                                    <textarea class="form-control" disabled rows="5" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


      <div class = "comment">
        <form id = "commentForm" action = "{{ url_for("recipe")}}" method ="POST">
          <textarea id ="title" type = "text" placeholder = "Comment here"></textarea><br>
          <input type = "submit" value = "uploadc">
            <div class = "upload">
              <form id = "photoForm" action = "{{url_for("recipe")}}" method = "POST" enctype = "multipart/form-data">
              <input type = "file" name = "file" accept = "image/*" multiple>
              <input type = "submit" value = "uploadp"
              <button class = "btn" type = "submit"> Upload photo </button>
    <div class="comment">
        <form action="" method="post">
            <textarea id="title" type="text" placeholder="Comment here"></textarea><br>
            <input type="submit" value="comment">
            <div class="upload">
                <input type="photo" value="upload">
                <button class="btn" type="submit"> Upload photo</button>
            </div>
            <button class="btn btn-primary" type="submit">Submit comment</button>
        </form>
    </div>

{% endblock %}
