{% extends 'layout.html' %}
{% block body %}
<script>
    $(function () {
        $('.add-form').ajaxForm(function () {
            $('.add-meal').modal('hide');
        });
    });
</script>

<div class="container-fluid">
	<div class="row mb-3">
		<div class="col-md-12">
			<h3>Search results for "{{keyword}}":</h3>
			<p class="text-muted"></p>
			<div id="filter-card">
                <div class="card">
                    <div class="card-header">
                         <a class="collapsed card-link" data-toggle="collapse" data-parent="#filter-card" href="#filter-contents">Filters</a>
                    </div>
                    <div id="filter-contents" class="collapse">
                        <div class="card-body">
                            Show Filters
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            {% if recipes is defined and recipes[0] is defined %}
                {% for recipe in recipes %}
                    <div class="card bg-default mb-2">
                        <div class="card-header">
                            <h4 class="pt-1" style="display: inline-block;">{{ recipe.recipe_title }}</h4>
                            {% if current_user.is_authenticated %}
                            <button class='btn btn-outline-primary float-right' data-toggle="modal" data-target="#add{{ recipe.recipe_id }}Modal">Plan</button>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ recipe.recipe_description }}</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">by {{ recipe.recipe_author }}</p>
                        </div>
                    </div>
                    <div class="modal fade add-meal" id="add{{ recipe.recipe_id }}Modal">
                        <div class="modal-dialog">
                            <div class='modal-content'>
                                <div class="modal-header">
                                    <h4 class="modal-title">Add to Calendar</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times</button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('calendar.add_data') }}" id="addForm" class="add-form" method="post">
                                        <input type="datetime-local" id="dt" name="dt">
                                        <input type='hidden' id='recipe' name='recipe' value='{{ recipe.recipe_id }}'>
                                        <button type="submit" class="btn btn-outline-primary">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No recipes found.</p>
            {% endif %}
        </div>
    </div>

    
</div>

{% endblock %}