{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">User Preferences</h2>
            </div>

            <!-- side nav -->
            <div class="col-md-3">
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link active" href="#profiletab" data-toggle="tab">Profile</a>
                    <a class="nav-link" href="#filtertab" data-toggle="tab">Filters</a>
                    <a class="nav-link" href="#createrecipetab" data-toggle="tab">Create Recipe</a>
                    <a class="nav-link disabled" href="#">Other</a>
                </nav>
            </div>

            <!-- contents of each side nav -->
            <div class="col-md-9 tab-content">

                <!-- user information -->
                <div class="tab-pane active" id="profiletab">
                    {{ wtf.quick_form(info_form, button_map={'submit': 'primary'}) }}
                </div>

                <!-- user filters -->
                <div class="tab-pane" id="filtertab">
                    <form action="" method="post">
                        {% include 'filter.html' %}
                        <button type="submit" class="btn btn-primary">Save preferences</button>
                    </form>
                </div>

                <!-- User Created Recipe -->
                <div class="tab-pane" id="createrecipetab">
                    <h2>Create your own recipe to share on the site!</h2>

                    <br>

                    <form action="{{ url_for('users.add_recipe') }}" method="POST">
                        <div class="form-group col-7">
                            <label for="recipe_title" class="font-weight-bold">Enter your Recipe Name</label>
                            <input type="text" class="form-control" id="recipe_title" name="recipe_title"
                                   placeholder="Recipe Name">
                        </div>

                        <div class="form-group">
                            <label for="recipe_description" class="font-weight-bold"> Enter the recipe
                                description </label>
                            <textarea class="form-control" id="recipe_description" name="recipe_description"
                                      placeholder="Recipe Description"> </textarea>
                        </div>

                        <div class="form-group col-5">
                            <label class="font-weight-bold">Add your recipe ingredients</label>
                            <input type="text" class="form-control" id="recipe_ingredient" name="recipe_ingredient"
                                   placeholder="Ingredient #1">
                        </div>

                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="recipe_ingredient" name="recipe_ingredient"
                                   placeholder="Ingredient #2">
                        </div>

                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="recipe_ingredient" name="recipe_ingredient"
                                   placeholder="Ingredient #3">
                        </div>

                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="recipe_ingredient" name="recipe_ingredient"
                                   placeholder="Ingredient #4">
                        </div>

                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="recipe_ingredient" name="recipe_ingredient"
                                   placeholder="Ingredient #5">
                        </div>

                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="recipe_ingredient" name="recipe_ingredient"
                                   placeholder="Ingredient #6">

                            <label class="small">Functionality to add more ingredients coming soon</label>
                        </div>

                        <br>

                        <label class="font-weight-bold">Upload an image of your dish</label>

                        <div class="form-group col-5">
                            <input type="text" class="form-control" id="recipe_picture" name="recipe_picture"
                                   placeholder="Recipe image link">
                        </div>


                        <br>

                        <label class="font-weight-bold">Enter the estimated cooking time</label>

                        <div class="row">
                            <div class="col form-group col-2">
                                <input type="number" class="form-control" name="recipe_cooking_time"
                                       id="recipe_cooking_time"
                                       placeholder="Min" value="{{ current_user.filters.cooking_time_min }}">
                            </div>
                        </div>

                        <label class="font-weight-bold">Enter the estimated calorie amount</label>

                        <div class="row">
                            <div class="col form-group col-2">
                                <input type="number" class="form-control" name="recipe_calorie_count"
                                       id="recipe_calorie_count"
                                       placeholder="Calories" value="{{ current_user.filters.calorie_min }}">
                            </div>
                        </div>

                        <div>
                            <input class="btn btn-primary" type="submit" value="Submit Recipe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}