{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-primary">User Preferences</h2>
            </div>

            <!-- side nav -->
            <div class="col-md-3">
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link active" href="#profiletab" data-toggle="tab">Profile</a>
                    <a class="nav-link" href="#filtertab" data-toggle="tab">Filters</a>
                    <a class="nav-link" href="#createrecipetab" data-toggle="tab">Create Recipe</a>
                    <a class="nav-link disabled" href="#">Other</a>
                </nav>
            </div>

            <!-- contents of each side nav -->
            <div class="col-md-9 tab-content">

                <!-- user information -->
                <div class="tab-pane active" id="profiletab">
                    {{ info_form.hidden_tag() }}
                    {{ wtf.quick_form(info_form, button_map={'submit': 'primary'}) }}
                </div>

                <!-- user filters -->
                <div class="tab-pane" id="filtertab">
                    {{ filter_form.hidden_tag() }}
                    {{ wtf.quick_form(filter_form, button_map={'submit': 'primary'}) }}
                </div>

                <!-- User Created Recipe -->
                <div class="tab-pane" id="createrecipetab">
                    <h2>Create your own recipe to share on the site!</h2>

                    <br>

                    <form action="{{ url_for('users.add_recipe') }}" method="POST">
                        <div class="form-group">
                            <label for="recipe_title" class="font-weight-bold">Enter your recipe name</label>
                            <input type="text" class="form-control" id="recipe_title" name="recipe_title"
                                   placeholder="Recipe Name" required>
                        </div>

                        <div class="form-group">
                            <label for="recipe_description" class="font-weight-bold">Enter the recipe description</label>
                            <textarea class="form-control" id="recipe_description" name="recipe_description" placeholder="Recipe Description/Recipe Steps" maxlength="2000" rows="6" required></textarea>
                        </div>

                        <div class="form-group">
                            <label for="recipe_ingredients" class="font-weight-bold"> Enter the recipe
                                ingredients </label>
                            <span style="white-space: pre-line">
                            <textarea class="form-control" id="recipe_ingredients" name="recipe_ingredients"
                                      placeholder="Enter the recipe ingredients in a list" maxlength="2000" rows="10"
                                      required></textarea>
                            </span>
                        </div>

                        <label class="font-weight-bold">Enter the image link of your recipe (uploading not supported
                            yet)</label>

                        <div class="form-group">
                            <input type="text" class="form-control" id="recipe_picture" name="recipe_picture"
                                   placeholder="Recipe image link" required>
                        </div>


                        <label class="font-weight-bold">Enter the estimated cooking time</label>

                        <div class="row">
                            <div class="col form-group col-2">
                                <input type="number" min="0" class="form-control" name="recipe_cooking_time"
                                       id="recipe_cooking_time"
                                       placeholder="Minutes" required>
                            </div>
                        </div>

                        <label class="font-weight-bold">Enter the estimated calorie amount</label>

                        <div class="row">
                            <div class="col form-group col-2">
                                <input type="number" min="0" class="form-control" name="recipe_calorie_count"
                                       id="recipe_calorie_count"
                                       placeholder="Calories" required>
                            </div>
                        </div>

                        <div>
                            <input class="btn btn-primary" type="submit" value="Submit Recipe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}