{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block body %}

    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>Create an account</h3>
                {{ form.hidden_tag() }}
                {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                <p>Already have an account? <a href="{{ url_for('users.login') }}">Login here.</a></p>
                <h4>What do you get from a Dine on Your Dime account?</h4>
                <ul>
                    <li>Save your filters and user preferences.</li>
                    <li>More is coming. We promise.</li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}